@import "./map";
@import '../../node_modules/reset-css/_reset';
@import "./actions";
@import "../../node_modules/cropperjs/src/scss/cropper";

html {
    height: 100%;
    font-size: 10px;
    font-family: sans-serif;
}

body {
    height: 100%;
}

.main {
    display: block;
    height: 100%;

    .main-wrapper {
        height: 100%;
    }
}
